iframe{
	display:block;
	border:0;
	float: left;
}
#ishow{
	margin:0px auto;
	background: white;
}
		#show{
					width: 1049px;
					height: 600px;
					background: white;
					float: left;
					display: block;
				}
			.weizi{
				margin: 100px auto;
			}

